*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* "====================" */
/* resuable code  */
/* "====================" */
.container{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.container_padding{
    padding:  0 12px;
}

#body{
    font-family: "Quicksand", serif;
}

:root{
    --primary-color: #86c305;
    --secondry-color:#0e1400;
    --tertry-color:#0a0f00;
    --text-color:#757575;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
}

li{
    list-style: none !important;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.flex{
display: flex;    
align-items: center;
}

/* section 01  css */
.main_header_nav {
    padding: 1rem 1.5rem;
}
.nav_list_wrapper li a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #0e1400;
    text-transform: capitalize;
    display: flex;
    align-items: flex-end;
    padding: 2rem 0rem;
    gap: .3rem;
}
.nav_list_wrapper li a i{
    font-size: 1.6rem;
}
ul.nav_list_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.sign_up_btn_wrapper {
    width: 100%;
    max-width: 60%;
    text-align: end;
    padding: 1rem 1.5rem;
}

.sign_up_btn_wrapper a {
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    background: var(--primary-color);
    font-weight: 500;
    color:#fff;
}
.header__wrapper{
    justify-content: space-between;
}
.header_section {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}